body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

html{
    font-size: 1vw;
}

header{
    width: 100vw;
}

.nav-cabecera{
    background-color: #1a747a9e;
    width: 100vw;
    height: 8vh;
    font-size: 1.5vw;
    border-radius: 1.5vw;

}

a{
    color: #fff;
    text-decoration: none;
}

i{
    padding: 1.5vw;
    color: #fff;
}

span{
    width: fit-content;
    margin: 9em auto 0;
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    color: #fff;
    text-shadow: 2px 2px 2px #0078FF;
    
}

section div ul li{
    width: 12vw;
    height: .5vw;
    background-color: rgb(210, 73, 73);   
    border-top: 1px #122 solid;  
    border-left: 1px #122 solid;  
    border-right: 1px #122 solid;   
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

footer{
    
    position: relative;
    background-color: #0077ffc6;
    width: 100vw;
    height: 10vw;
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li{
    margin: 5vw 2vw 0;
    
    width: fit-content;
}

footer ul li a{
    color: #000;
}

footer ul li a:hover{
    color: #fff;
}

.redes{
    display: block;
    margin-left: 0;
    position: fixed;
    bottom: 10vw;
    left: 0;
    z-index: 100;

}

.redes img{
    width: 3em;
    position: relative;
}

.redes ul{
    padding-left: 0;
}

.redes ul li{
    margin: 1px;
    border: 1px solid #fff;
    background-color: #0077ff77;
    border-radius: 5px;
    width: 3vw;
    height: 3vw;
    list-style: none;
}

.redes ul li:hover{
    
    width: 4vw;
    height: 4vw ;
}


.redes img:hover{
    width: 4vw;
    z-index: 1000;
    
   
}

.redes ul li a{
   text-decoration: none;
}

.div-seccion-ul{
    
    

    background-color: #00000091;
}

.div-top-lugares-turisticos{
    text-align: center;
}

.div-top-lugares-turisticos h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    color: #fff;
    text-shadow: 2px 2px 2px #0078FF;
    margin-top: 10vw;
    
    
   

}

.div-reserva-lugares-turisticos{
    text-align: center;
}

.div-reserva-lugares-turisticos h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    color: #fff;
    text-shadow: 2px 2px 2px #0078FF;
    margin-top: 4vw;
}


.encabezado-ul{ 
    margin : 2.6vw 2vw 0 0 ;
    font-size: 1.2vw;
    float: right;
    padding-left: 0;
    list-style: none;
    
    
}

.encabezado-ul li{
    
    padding: 0 1.5vw;
    display: inline;
}


.contenedor-principal{
    
    width: 50vw;
    
    margin: auto;
    margin-bottom: 35vw;
    
}
.contenedor-principal i{
    color: #00000091;
}

.contenedor-principal a{
    color: #00000091;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;    
}

.menu-horizontal > li > a{
    display: block;
    color: white;
    text-decoration: none;
    padding-top: .9vw;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-bottom: 1.1vw;
}

.menu-horizontal > li:hover{
    
    background-color: rgba(0, 178, 142, 0.334); 
    
}

.menu-vertical{  
    padding-left: .5vw;
    position: absolute;
    display: none;
    list-style: none;
    text-align: left;   
    width: 12vw;
    background-color: #1a747a9e;
     
}

.menu-vertical li a{
    padding-right: 1vw;
}

.menu-vertical li:hover{
    background-color: rgba(0, 178, 142, 0.334);
    
}

.menu-horizontal > li:hover .menu-vertical{
    display: block;
    
}

.options{
    border: 0;
    border-radius: 2px;
    font-family: open_sansregular,sans-serif;
    font-size: 1vw;
    width: 5vw;
    outline: 0;
    text-align: center;
    color: #777;
    margin-bottom: 3em;
}

.botones{
    margin-left: 10vw;
    margin-top: 1.5vw;
    background-color:  #0078FF;   
    border: 0;
    border-radius: 1vw;
    font-family: open_sansregular,sans-serif;
    font-size: 1vw;
    height: 1.5vw;
    text-align: center;
    width: 20%;
    color: #fff; 
}

.botones:hover{
   background-color: #fff;
   color: #0078FF;
}


.form-cruceros-options{
    width: 14vw;
    margin-bottom: 1em;
    border: 0;
    border-radius: 2px;
    font-family: open_sansregular,sans-serif;
    font-size: 1vw;
    outline: 0;
    text-align: center;
    color: #777;
   

}

.form-cruceros-label{
    font-family: open_sanssemibold,sans-serif;
    color: #fff;
    line-height: 14px;
    text-align: left;
    text-transform: inherit;
    display: block;
    margin-bottom: 1vw;
    margin-left: 2vw;

}


.caja-de-articulos{
    background-color: #2a1a11;
    position: absolute;
    margin-top: 0;
    width: 48.4vw;
    height: 25vw;     
    border-left: 1px #122 solid;
    border-right: 1px #122 solid; 
    border-bottom: 1px #122 solid;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
}

.secciones:hover{
    background-color: #e95b10;
}

.active{
    
    z-index: 10;
}

.color_li{
    background-color: #e95b10;
}

.titulos_secciones_busqueda{
    margin-left: 1vw;
    font-family: flexa-compressedBold;
    font-size: 2vw;
    font-weight: normal;
    color: #fff;
}

.label{
    font-family: open_sanssemibold,sans-serif;
    color: #fff;
    line-height: .5vw;
    text-align: left;
    text-transform: inherit;
    display: inline;
    margin-bottom: 1vw;
    margin-left: 3vw;
}

.input{
    margin-bottom: 3vw;
    margin-left: 1vw;
    border: 0;
    border-radius: 2px;
    font-family: open_sansregular,sans-serif;
    font-size: 1vw;
    height: 1.5vw;
    outline: 0;
    padding: 0 0 0 .8vw;
    width: 30%;
    color: #777;
}

#buscador-principal{
    border: 0;
    border-radius: 2vw;
    font-family: open_sansregular,sans-serif;
    font-size: 1.5vw;
    outline: 0;
    padding: 0 0 0 1vw;
    color: #777;
}

#tabs{
    width: 50vw;
    padding: 0;
    margin: 5vw 0 0;
}

#label-ida{
    margin-right: 1.6vw;

}
#label-entrada{
    margin-right: .4vw;
}

#label-vuelta{
    margin-right: .6vw;
}



#check{
    margin-left: 17vw;
    width: 1.5vw;
    height: 1.5vw;
}

#label-check{
    
    margin-left: .5vw;
   
}

#secciones-vuelos{
    border-top-left-radius: 1vw;
}

#secciones-cruceros{
    border-top-right-radius: 1vw;
}

#primer-columna{
    margin: 0 1vw 1vw 3vw;
}

#segunda-columna{
    margin: -13vw 1vw 1em 31.5vw;
    
}

#logo{
    padding-top: .2vw;
    width: 18vw;
    height: 8vw;
    border-radius: 0 5vw 5vw 0;
}


.conteCarrousel i{
   width: 2vw;
   height: 2vw;
   
}




.carrucel{

    margin: 0 auto 18vw;
    
    width: 70vw;
    
}

.conteCarrousel{
    margin-top: 5vw;
    width: 100%;
    height: 35vw;
    overflow: hidden;
    box-shadow: 0 0 7px 5px #0078FF;
    border: 2px solid  #0078FF;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta img{
  
  object-fit: cover;
  width:100%;
  height:100%;

    
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw; 
}

.itemCarrouselArrows  i:hover {
    color: #0078FF;
    cursor: pointer;
}



.conteCarrouselController{
    font-size: .6vw;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.conteCarrouselController a i:hover{
    color: #0078FF;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
    width: 2vw;
    height: 2vw;
}

.select{
    color: #0078FF;
}

.ciudades-info{
    position: relative;
    width: 80%;
    margin: 0 auto;
    
    border-radius: 1em;
}

.ciudades-info article{
    background-color: rgba(255, 255, 255, 0.738);
    margin: 2vw;
    border: 2px solid #0078FF;
    border-radius: 1vw;
    padding: 1vw;
}

.name{
    font-size: 2.5vw;
    font-weight: bold;
    width: fit-content;
    padding: 0;
    margin: 0;
}

.espe{
    font-size: 1.4vw;
    font-weight: 200;
    width: fit-content;
    padding: 0;
    margin: 0;
    
}

.descrip{
    font-family: cursive;
    font-size: 1.3vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid #0078FF;
}

#info{
    font-size: 1.1vw;
    width: fit-content;
    text-shadow: 2px 2px 2px #0078FF;
    margin: 0 auto;
    
}

.text-name-info{
    display: grid;
}